#main-pane
{
	-fx-background-color: black;
	-fx-border-color: green;
	-fx-border-width: 2;
}


#top-bar
{
	-fx-background-color: linear-gradient(to right, black, green);
	-fx-border-color: green;
	-fx-border-width: 2;
}

.minmaxexit
{
	-fx-background-color: blue;
	-fx-border-color: green;
	-fx-border-width: 2;
}

#maximise-button
{
	-fx-effect: innershadow(gaussian, grey, 100, 0.0, 0, 0);
}


/* A CSS selector used on most controls (text fields, choice boxes)
 * in the interface. This control is *not* applied to buttons as they
 * are styled separately */
.control
{
	-fx-border-color: green;
	-fx-border-width: 2;
	-fx-background-color: skyblue;
}



/* BUTTON STYLES */

/* A standard button used to perform an action like the browse and 
 * convert buttons */
.normal-button
{
	-fx-border-color: green;
	-fx-border-width: 2;
	-fx-background-color: darkgreen;
	-fx-text-fill: lightblue;
	-fx-text-size: 13px;
}

/* A banner button used on the introduction page to allow the user to
 * select their operation. Not technically a button control but it acts
 * as one */
.banner-button
{
	-fx-border-color: green;
	-fx-border-width: 2;
}

.banner-button Text
{
	-fx-fill: #00CC00;
	-fx-font-size: 34pt;
	-fx-font-weight: bold;
	-fx-effect: dropshadow(gaussian, black, 10, 0.1, 6, 0);
}

/* The multimedia player buttons. Play and pause */
.player-button
{
	-fx-border-color: green;
	-fx-border-width: 2;
	-fx-background-color: black;
}


.player-button *
{
	-fx-fill: green;
}


/* The button that returns the user to the intro page */
.back-button
{
	-fx-background-color: linear-gradient(to right, black, green);
}

.hint-button
{
        -fx-background-color: rgba(0,0,0,0);
}


Button
{
	-fx-background-color: red;
}



/* CONTAINER STYLES */

/* The container where the user enters all of the parameters for their video
 * conversion. */
.params-container
{
	-fx-border-color: green;
	-fx-border-width: 2;
	-fx-border-style: dashed;
}

.params-container Text
{
	-fx-fill: lightblue;
}


/* MISCELLANEOUS ELEMENTS */


.params-heading
{
	-fx-border-color: green;
	-fx-border-width: 3;
}

.params-heading Text
{
	-fx-fill: green;
}

.input-params-heading
{
	-fx-background-color: lightblue;
}

.output-params-heading
{
	-fx-background-color: darkblue;
}

.video-player-pane
{
	-fx-background-color: white;
	-fx-border-color: lightgreen;
	-fx-border-width: 2;
}


/* The progress of the preview media file. */
.play-progress-pane
{
	-fx-background-color: green;
	-fx-border-color: lightgreen;
	-fx-border-width: 2;
}

.play-progress-pane .track
{
	-fx-background-color: teal;
}

.play-progress-pane .bar
{
	-fx-background-color: skyblue;
}


/* The percentage of the current conversion */
.percent-counter
{
	-fx-border-color: green;
	-fx-border-width: 2;
}

.percent-counter Text
{
	-fx-fill: lightblue;
}


.tooltip
{
        -fx-background-color: lightblue;
        -fx-border-color: green;
	-fx-text-fill: black;
}


/* The page banner that sits vertically on the left of all
 * of the conversion pages */
.vertical-page-banner
{
	-fx-border-color: green;
	-fx-border-width: 2;
}


/* The progress bar on each page */
.convert-progress-bar
{
	-fx-progress-color: red;
}

